<p-toast></p-toast>
<div class="admin-page">
    <p-card [header]="editmode ? 'Edit Product' : 'Add Product'" subheader="Add new or edit product here">
        <div class="p-grid">
            <div class="col-12 mb-5">
                <p-toolbar>
                    <div class="p-toolbar-group-right">
                        <p-button (click)="onSubmit()" [label]="editmode ? 'Update' : 'Create'" icon="pi pi-plus" class="mr-2"></p-button>
                        <p-button label="Cancel" icon="pi pi-arrow-circle-left" class="mr-2" styleClass="p-button-secondary" (click)="onCancle()"></p-button>
                    </div>
                </p-toolbar>
            </div>
        </div>
        <div class="p-grid">
            <div class="col-12">
                <form [formGroup]="form">
                    <div class="p-gird flex">
                        <div class="flex flex-column gap-2 col-4">
                            <label for="name">Name</label>
                            <input formControlName="name" id="name" pInputText />
                            <small *ngIf="productForm.name.invalid && isSubmited" class="p-error">Name is required</small>
                        </div>
                        <div class="flex flex-column gap-2 col-4">
                            <label for="brand">Brand</label>
                            <input formControlName="brand" id="brand" pInputText />
                            <small *ngIf="productForm.brand.invalid && isSubmited" class="p-error">Brand is required</small>
                        </div>
                        <div class="flex flex-column gap-2 col-4">
                            <label for="price">Price</label>
                            <p-inputNumber formControlName="price" mode="decimal" inputId="price" [useGrouping]="false"> </p-inputNumber>
                            <small *ngIf="productForm.price.invalid && isSubmited" class="p-error">Price is required</small>
                        </div>
                    </div>
                    <div class="p-gird flex">
                        <div class="flex flex-column gap-2 col-4">
                            <label for="countInStock">countInStock</label>
                            <p-inputNumber formControlName="countInStock" mode="decimal" inputId="countInStock" [useGrouping]="false"> </p-inputNumber>
                            <small *ngIf="productForm.countInStock.invalid && isSubmited" class="p-error">countInStock is required</small>
                        </div>
                        <div class="flex flex-column gap-2 col-4">
                            <label for="category">Category</label>

                            <p-dropdown
                                [options]="categories"
                                formControlName="category"
                                optionLabel="name"
                                optionValue="id"
                                [filter]="true"
                                filterBy="name"
                                [showClear]="true"
                                placeholder="Select a Category"
                            ></p-dropdown>
                            <small *ngIf="productForm.category.invalid && isSubmited" class="p-error">category is required</small>
                        </div>
                        <div class="flex flex-column gap-2 col-2">
                            <label for="isFeatured">Is Featured</label>
                            <p-inputSwitch formControlName="isFeatured"></p-inputSwitch>
                        </div>
                    </div>
                    <div class="flex flex-column gap-2">
                        <label for="description">Description</label>
                        <textarea rows="5" cols="30" pInputTextarea formControlName="description"></textarea>
                        <small *ngIf="productForm.description.invalid && isSubmited" class="p-error">description is required</small>
                    </div>
                    <div class="flex flex-column gap-2 col-12">
                        <label for="richDescription">Product Details</label>
                        <p-editor formControlName="richDescription" [style]="{ height: '320px' }"></p-editor>
                    </div>
                    <div class="flex flex-column gap-2 col-12">
                        <label for="name">Main Image</label>
                        <input type="file" class="p-inputtext" accept="image/*" (change)="onImageUpload($event)" />
                        <small *ngIf="productForm.image.invalid && isSubmited" class="p-error">Image is required</small>
                        <div class="col-2 p-mt-2 p-pl-0">
                            <img style="width: 100%" [src]="imageDisplay" alt="" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </p-card>
</div>
